.gitignore
docs/
docs/*.odg
docs/*.ui
.venv/
src/dist
src/build
src/installer-setup.ifp
src/main.spec
src/install_simple_psf2.2.exe
src/installer_config.ifp
logs/*.log
src/**/__pycache__/
src/__pycache__/

logs/extractor_event.log
